.filter{
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    font-family: 'PingFangSC-Semibold,PingFangSC-Regular,Avenir,Helvetica,Arial,sans-serif';
    background: #f0f0f0;
    overflow: scroll;
}
.filter-header{
    height: 2.5rem;
    line-height: 2.5rem;
    font-weight: 900;
    text-align: center;
    color: #0d2b73;
    background-color: #ffffff;
    font-size: 0.9rem;
    padding: 0 0.5rem;
}
.filter-header-clear{
    color: #236689;
    font-size: 0.8rem;
    float: left;
    cursor: pointer;
}
.filter-header-cancel{
    color: #236689;
    font-size: 0.8rem;
    float: right;
    cursor: pointer;
}

.filter-footer{
    padding:0 0.5rem;
    position: fixed;
    bottom: 0rem;
    left: 0;
    right: 0;
    background-color: #ffffff;
}
.filter-info-panel{
    background-color: #ffffff;
    padding: 0.2rem 0.5rem;
    margin-top: 0.5rem;
}
.filter-first{
    color: #949191;
    padding: 1rem 0.5rem;
}
.choosed-item{
    font-size: 0.6rem;
}
.choose-btn-wrap{
    float: right;
    vertical-align: middle;
}
.chooseBtn { display: none; } 
.choose-label { 
    box-shadow: #eee 0px 0px 0px 1px; 
    width: 36px;
    height: 20px;
    display: inline-block;
    border-radius:20px;
    position: relative;
    background-color: #eeeeee;
    overflow: hidden;
} 
.choose-label:before { 
    content: '';
    position: absolute;
    left: 0;
    width:20px; 
    height: 20px;
    display: inline-block;
    border-radius: 20px;
    background-color:#fff;
    z-index: 20;
    -webkit-transition: all 0.5s;
    transition: all 0.5s;
} 
.chooseBtn:checked + label.choose-label:before {
    left: 16px;
} 
.chooseBtn:checked + label.choose-label {
    background-color: #2a76bd;
}
.filter-item-panel-types{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}
.filter-item-panel-types>div:nth-child(3n-2){
    width: 30%;
}
.filter-item-panel-types>div:nth-child(3n-1),.filter-item-panel-types div:nth-child(3n){
    flex: 35%;
}
.keywork-option{
    border: 1px solid #eeeeee;
    border-radius: 4px;
    margin: 0.2rem;
    height: 2.8rem;
    line-height: 2.8rem;
    width: 90%;
    text-align: center;
}
.testDivTable{
    display: table;
    width:100%;
    margin: 0.5rem 0;
}
.testDivTable > div{
    display: table-row
}
.testDivTable > div > div{
    display: table-cell;
    padding-top: 0.5rem;
    text-align: center;
}
.filter-select-title{
    display: inline-block;
    font-weight: 500;
}
.filter-select-item{
    padding: 0.1rem;
    border-bottom: 1px solid #eeeeee;
    height: 2.5rem;
}
.filter-select-item:last-child{
    border: none;
}
.filter-select-item  span{
    float: right;
}
span.div-table-cell{
    display: inline-block;
    padding: 0.5rem;
    width: 85%;
    border:1px solid #eeeeee;
    border-radius: 5px;
    word-break: keep-all;
    text-align: center;
    height: 100%;
    color:#acacac;
    
}
.filter-open-panel-icon > i.icon-rightarrow{
    font-size: 1rem;
    vertical-align: text-top;
    color: #2a76bd;
}
.filter-select-open{
    border: none;
    height: 1.5rem;
}
span.filter-checked{
    background-color: #0d2b73;
    color: #ffffff;
}
.filter-last-panel{
    margin-bottom: 5rem;
}
    