<div>
    <div class="product-disguies-header" *ngIf="filterId != '1'">
        <span>
            <i class="iconfont icon-back" (click)="goBack()"></i>
        </span>
        Mutual Funds
        <span>
            <i class="iconfont icon-shuoming"></i>
        </span>
    </div>
    <app-header [title]="title" [showBack]="showBack" [showClose]="showClose" [closeCurrent]="closeCurrent" *ngIf="filterId === '1'"></app-header>
    <div class="product-filter-wrap">
        <i class="iconfont icon-Search"></i>
        <input type="text" class="product-filter" placeholder="Search and Filter" (focus)="goFilter()"  />
    </div>
    <div class="product-filter-result" *ngIf="filterId === '1'">
        <span>20 results</span>
        1 filters
    </div>
    <div class="product-content">
        <div class="product-sort-wrap">
            <p class="product-current-item" (click)="showSelect = !showSelect">{{currentSelect == 1 ? 'Sort by name':'Sort by other' }} <span><i class="iconfont icon-xiala"></i> </span> </p>
            <div class="choose-panel"  [ngStyle]="{'height':!showSelect ? '0px':'4rem'}">
                <p>Sort by name <span [hidden]="currentSelect !=1" class="tick-site"><i class="iconfont icon-check"></i></span></p>
                <p>Sort by other <span [hidden]="currentSelect != 2"  class="tick-site"><i class="iconfont icon-check"></i></span></p>
            </div>
        </div>
        <div class="product-list" *ngFor="let item of productList,let key = index">

            <div class="choice">
                <label class="radio"><input type="radio" [name]="'a'+key" [value]="item.checked" (click)="chooseFund(item.id)"><i></i></label>
            </div>
            <div class="product-list-info">
                <p class="product-item-name">
                    {{item.name}}
                    <span class="product-item-show-detail" *ngIf="filterId != '1'">
                        <i class="iconfont icon-rightarrow"></i>
                    </span>
                </p>
                <div class="product-item-info">
                    {{item.cycle}}
                    <span>{{item.rate}}</span>
                </div>
                <div class="product-item-info">
                    Risk rating
                    <span>3 -Moderate</span>
                </div>
                <p class="product-item-footer">
                    <span>PREMIER FUND</span>
                </p>
            </div>
            
        </div>
    </div>
    <div class="product-footer" *ngIf="filterId != '1'">
        <a routerLink='/filter'>
            <button class="common-confirm-btn">Compare Funds</button>
        </a>
    </div>
</div>