.product-disguies-header{
    line-height: 3rem;
    font-size: 1rem;
    text-align: center;
    background: #0d2e67;
    color: #ffffff;
    padding: 0 0.5rem;
}
.product-disguies-header i.icon-shuoming{
    font-size: 1.4rem;
    float: right;
}
.product-disguies-header i.icon-back{
    font-size: 1.2rem;
    float: left;
}
.product-filter-wrap{
    margin-top: 0.2rem;
    background-color: #f7f7f7;
    padding-left: 0.5rem;
}
.product-filter{
    width: 95%;
    background-color: #f7f7f7;
    box-shadow: none;
    border: none;
    height: 2.2rem;
    line-height: 2.2rem;
    outline: none;
    padding-left: 0.5rem;
}
.product-sort-wrap{
    text-align: center;
}
.product-sort-wrap > select > option{
    color: #236689;
}
.product-sort-wrap{
    position: relative;
}
.choose-panel{
    position: absolute;
    top: 1.5rem;
    width: 60%;
    left: 20%;
    border-radius: 0.5rem;
    background-color: #f3f3f3;
    transition:height .3s;
    -moz-transition:height .3s; /* Firefox 4 */
    -webkit-transition:height .3s; /* Safari and Chrome */
    -o-transition:height .3s;
    overflow: hidden;
    color: #236689;
}
.choose-panel > p{
    line-height: 2rem;
    margin: 0px;
}
.product-content{
    padding-bottom: 4rem;
}
.product-current-item{
    cursor: pointer;
    color: #236689;
    font-size: 0.8rem;
    font-weight: 500;
    line-height: 2rem;
}
i.icon-check{
    font-size: 0.6rem;
}
.tick-site{
    width: 1rem;
    float: right;
    padding-right: 0.5rem;
}
.product-list{
    border-top: 1px solid #f3f3f3;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.product-item-name{
    font-size: 1rem;
    font-weight: 500;
}
.product-list-info{
    width: 98%;
}
.choice{
	position: relative;
}
.choice .radio{
	position: relative;
	display: inline-block;
	font-weight: 400;
	color: #066CAE;
	padding-left: 25px;
	cursor: pointer;
}
.choice .radio input{
	position: absolute;
	left: -9999px;
}
.choice .radio i{
	display: block;
	position: absolute;
	top: 0.3rem;
	left: 0;
	width: 1rem;
	height: 1rem;
	outline: 0;
	border: 1px solid #333333;
	background: #FFFFFF;
	border-radius: 50%;
	transition: border-color .3s;
	-webkit-transition: border-color .3s;
}

.choice .radio input:checked+i{
	border-color: #066CAE;
}
.choice .radio input+i:after{
	position: absolute;
	content: '';
	top: 3px;
	left: 3px;
	width: 9px;
	height: 9px;
	border-radius: 50%;
	background-color: #066CAE;
	opacity: 0;
	transition: opacity .1s;
	-webkit-transition: opacity .1s;
}
.choice .radio input:checked+i:after{
	opacity: 1;
}
.product-item-show-detail{
    float: right;
}
.icon-rightarrow{
    color: #949191;
    cursor: pointer;
}
.product-item-info{
    line-height: 1.5rem;
    color: #949191;
}
.product-item-info > span{
    float: right;
}
.product-item-footer > span{
    background-color: #f5f2df;
    color: #b7966e;
    border-radius: 3px;
    font-size: 0.8rem;
    display: inline-block; 
    padding: 1px 4px;
}
.product-footer{
    padding:0 0.5rem;
    position: fixed;
    bottom: 0rem;
    left: 0;
    right: 0;
    background-color: #ffffff;
}
.common-icon-close{
    padding-right: 0.5rem;
}
.product-filter-result{
    background-color: #eeeeee;
    text-align: center;
    color: #236689;
    line-height: 2rem;
    height: 2rem;
}
.product-filter-result > span{
    color: #949191;
    position: absolute;
    left: 0.5rem;
}