.notice{
    padding: 1rem;
}
.notice-header{
    font-size: 1.2rem;
    line-height: 2rem;
    color: #385f8a;
    text-align: center;
    font-weight: 600;
}
.notice-icon-close{
    font-size: 1.2rem;
    float: right;
    color: #2271c7;
}
.notice-content-title{
    font-size: 2rem;
    line-height: 2rem;
}
.notice-content-wrap{
    font-size: 1rem;
    line-height: 1.5rem;
    font-family: 'Interstate_Light,sans-serif,Arial,sans-serif';
}
.notice-content{
    padding-bottom: 1.5rem;
}
a.notice-document-download-bar{
    color: #157db3;
    font-size: 1rem;
    font-weight: 800;
}
.notice-footer{
    text-align: center;
}
i.icon-ic_picture_as_pdf{
    font-size: 1.1rem;
}
.notice-next-never-tip{
    color: #157db3;
    font-size: 1rem;
    font-weight: 500;
}
.notice-next-btn{
    color: #157db3;
    font-weight: 900;
}